# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules_delete
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.idea
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Env vars
.env
.env.test
.env.development
.env.production

# Cursor
.cursorrules

# Windsurf
.winsurfrules



scripts
    /ceramic-app/ceramic-app-*.js
    /ceramic-app/ceramic-app-*.js.map


.devcontainer
.vscode
.Cursor


# pnpm
.pnpm-debug.log
*.tgz
*.tgz.lock
pnpm-lock.yaml
pnpm-lock.yaml.versions
pnpm-lock.yaml.versions.lock




# rust
# Cargo.lock
target/debug



